.Banner {
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #CAF0F8;
    background-color: #0077B6;
    border: 0.25vw solid #03045E;
    border-radius: 2vw;
}